.article-card {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.article-card-img {
    height: 250px;
    max-width: 40%;
    margin: 0px;
    border-radius: 12px;
    padding: 0;
}

.article-right-side-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .date-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: rgba(17, 39, 63, 0.4);
        }

        .article-icons-share-heart {
            color: #4A7DAD;
            display: flex;
            gap: 5px;
        }
    }

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #4A7DAD;
    }

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #11273F;
    }

    .author {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(17, 39, 63, 0.6);
    }
}