@import "./colors";
@import "./scrollbars";


.article-config-icon{
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  padding: 8px;
  background: #fff;
  color: #11273F;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  &.article-config-icon-blue{
    background: #11273F;
    color: #fff;
  }
}

.article-config-small,
.article-config-large{
  position: fixed;
  flex-direction: column;
  display: flex;
  background: #FFFFFF;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px 0 0 16px;
  color: #11273F;


}


.article-config-small{

  left: calc(100vw - 180px);
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1001;
  gap: 10px;

  .article-config-item{
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;

    h6 {
      margin: 0 10px 0 0;

    }
  }
  
  &:hover{
    cursor: pointer;
    animation: article-config-small-hover 0.5s ease forwards;
    transition: 0.5s;

    @keyframes article-config-small-hover {
      0%{ transform: translateX(0px) translateY(200px); }
      100%{ transform: translateX(-10px)  translateY(200px); } 
    }
  }

  &.hidden{
    animation: article-config-small-hide 0.5s ease forwards;

    @keyframes article-config-small-hide {
      0%{ transform: translateX(0px) translateY(200px); }
      100%{ transform: translateX(210px) translateY(200px); } 
    }
  }

  &:not(.hidden){
    animation: article-config-small-show 0.5s ease forwards;

    @keyframes article-config-small-show {
      0%{ transform: translateX(210px) translateY(200px); }
      100%{ transform: translateX(0px) translateY(200px); } 
    }
  }

}

.article-config-backdrop{
  &.hidden{
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;


 
}

.article-config-large{
  left: calc(100vw - 350px);
  top: 90px;
  width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin-bottom: 20px;
  z-index: 1000;
  gap: 10px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;

  &.hidden{
    transform: translateX(650px);
  }

  @media screen and (max-width: $mobile_breakpoint) {
    left: 60px;
    width: calc(100vw - 60px);
    padding: 20px;
    top: 30px;
    gap: 20px;
    padding-right: 60px;

    &.hidden{
      transform: translateX(100%);
    }
  }


  .article-config-item{
    display: flex;
    flex-direction: row;
    min-height: 60px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: fit-content;

    .MuiFormControl-root, .MuiAutocomplete-root{
      margin: 0;
      width: 100%;
    }

    .article-config-item-tags{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: fit-content;
      gap: 10px;
      
      // margin-left: 20px;

      .article-config-item-tags-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: fit-content;
        gap: 10px;
        
        .article-config-item-ok{
          display: flex;
          right: 0;
          justify-content: center;
          align-items: center;
          min-width: 30px;
          padding: 0 10px;
          height: 30px;
          background: #11273F;
          color: #fff;
          border-radius: 10px;
          padding-bottom: 2px;
          cursor: pointer;
          font-size: 13px;
        }

      }

      
    }


  }

  .article-config-publish{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0 20px;

    background-color: #11273F;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    &:hover{
      cursor: pointer;
      animation: article-config-publish-hover 0.5s ease forwards;
      transition: 0.5s;

      @keyframes article-config-publish-hover {
        0%{ transform: translateX(0px) translateY(0px); }
        100%{ transform: translateX(-10px)  translateY(0px); } 
      }
    }

    &:not(:hover){
      animation: article-config-publish-not-hover 0.5s ease forwards;
      transition: 0.5s;

      @keyframes article-config-publish-not-hover {
        0%{ transform: translateX(-10px) translateY(0px); }
        100%{ transform: translateX(0px)  translateY(0px); }
      }
    }
  }

}

