@import './variables';
@import './colors';

.article-card {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    position: relative;

    @media screen and (max-width: $mobile_breakpoint) {
        gap: 10px;
        justify-content: flex-start;
    }

    &:hover{
        
        .article-right-side-content {
            .article-card-side-content-title-wrapper{
                h2{
                    // color: #4A7DAD;
                    border-bottom: 1px solid #4A7DAD !important;
                    

                    // &:after{
                    //     content: "";
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 102%;
                    //     height: 102%;
                    //     transform: translate(-1%, -1%);
                    //     /* From https://css.glass */
                    //     background: rgba(255, 255, 255, 0.117);
                    //     border-radius: 12px;
                    //     box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
                        
                    // }
                }
            }
        }
    }

    .article-card-img-wrapper {
        width: 600px;
        margin: 0px;
        border-radius: 12px;
        padding: 0;
        position: relative;
        aspect-ratio: 16/9;
        cursor: pointer;

 

        .article-card-img-chip{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 5px 10px;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        @media screen and (max-width: $mobile_breakpoint) {
            width: 250px;

            .article-card-img-chip{
                font-size: 14px;
            }
        }

        &.article-card-img-wrapper-published{
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.25);
                border-radius: 12px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3.3px);
                -webkit-backdrop-filter: blur(3.3px);
            }
        }

        .article-card-img {
            height: 100%;
            width: 100%;
            border-radius: 12px;
            object-fit: cover;
            
        }
    }

    .article-right-side-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;

        @media screen and (max-width: $mobile_breakpoint) {
            width: 100%;
            gap: 10px;
            padding-bottom: 5px;


            .article-card-divider{
                display: none;
            }
        }

        .article-card-description{
            display: block;
            height: 55px;
        }
    
        .article-card-side-content-upper-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
    
            .article-card-side-content-title-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0;
                cursor: pointer;
                
                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    color: #11273F;
                    border-bottom: 1px solid transparent;
                    
                }


                h4 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 14px;
                    color: #4A7DAD;
                    margin-bottom: 15px;
                }

                .author {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: rgba(17, 39, 63, 0.6);
                }
                
            }
    
            .article-card-side-content-status-wrapper{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                justify-content: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;

                .article-card-side-content-status-chip{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding-left: 7px;
                }
            }
        }
    
        .article-card-lower{
            .date-social {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
        
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: rgba(17, 39, 63, 0.4);
                }
        
                .article-icons-share-heart {
                    color: #4A7DAD;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    svg{
                        cursor: pointer;
                        width: 20px;
                        height: 20px;

                        &:hover{
                            color: $pubWeaveBlue;
                        }
                    }
                }
            }

            hr.article-card-divider{
                margin: 0.5rem 0;
            }
        }
        
    

    

    
        
    }
}

