.featured-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    height: 400px;
    width: fit-content;
    border: 1px solid #E6E6E6;
    border-radius: 14px;
    justify-content: flex-start;

    color: #4a4a4a;


    .categoryname-share-like {
        color: rgba(74, 125, 173, 1);
        display: flex;
        align-items: center;
        margin-left: 20px;
        justify-content: space-between;
        margin-right: 20px;

        .icons-share-heart {
            display: flex;
            gap: 10px;
        }
    }

    .featured-card-img {
        height: 200px;
        width: 100%;
        border-radius: 12px;
    }

    .featured-card-divider {
      margin: 0px 20px;
    }

    .featured-card-description {
      margin: 0px 20px; 
    }

    .author-date {
      display: flex;
      margin: 0px 10px 10px 20px;
      justify-content: space-between;
    }
}

  
