.article-card {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 100px 20px 100px;

    .article-card-img-wrapper {
        height: 250px;
        max-width: 40%;
        margin: 0px;
        border-radius: 12px;
        padding: 0;
        position: relative;
        aspect-ratio: 16/9;

        .article-card-img-chip{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 5px 10px;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &.article-card-img-wrapper-published{
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.25);
                border-radius: 12px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3.3px);
                -webkit-backdrop-filter: blur(3.3px);
            }
        }

        .article-card-img {
            height: 100%;
            aspect-ratio: 16/9;
            border-radius: 12px;
            
        }
    }

    
    
    .article-right-side-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 20px;
        width: 100%;
    
        .article-card-side-content-upper-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
    
            .article-card-side-content-title-wrapper {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
    
            .article-card-side-content-status-wrapper{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                justify-content: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;

                .article-card-side-content-status-chip{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding-left: 7px;
                }
            }
        }
    
    
        .date-social {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
    
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: rgba(17, 39, 63, 0.4);
            }
    
            .article-icons-share-heart {
                color: #4A7DAD;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
            }
        }
    
        h4 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #4A7DAD;
        }
    
        // h2 {
        //     font-family: 'Inter';
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 20px;
        //     line-height: 24px;
        //     color: #11273F;
        // }
    
        .author {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: rgba(17, 39, 63, 0.6);
        }
    }
}

