.timeline{
    position: fixed;
    top: 50%;
    right: 0;
    width: 120px;
    height: 200px;
    transition: all 0.3s ease-in-out;

    .MuiTimelineConnector-root{
        background: #11273F;
    }

    .timeline-seperator-Home > .MuiTimelineConnector-root{
        background: #bdbdbd;
    }

    .timeline-dot{
        &.timeline-dot-Home{
            // background: #11273F;
        }
        &.timeline-dot-About{
            &.MuiTimelineDot-filled{
            
                background: #11273F;
                border-color: #11273F;
                transition: all 0.3s ease-in-out;
            }

            &.MuiTimelineDot-outlined{
                background: transparent;
                border-color: #11273F;
                transition: all 0.3s ease-in-out;
            }
        }
        
        &.timeline-dot-Pricing{
            &.MuiTimelineDot-filled{
            
                background: #11273F;
                border-color: #11273F;
                transition: all 0.3s ease-in-out;
            }

            &.MuiTimelineDot-outlined{
                background: transparent;
                border-color: #11273F;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.all-chips {
    display: flex;
    gap: 10px;
    .chip{
        display: inline-flex;
        flex-direction: row;
        background: rgba(50, 180, 252, 0.8);
        border: none;
        height: 36px;
        outline: none;
        padding: 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        white-space: nowrap;
        align-items: center;
        border-radius: 16px;
        vertical-align: middle;
        text-decoration: none;
        justify-content: center;

        .chip-content{
            display: flex;
            align-items: center;
            user-select: none;
            white-space: nowrap;
            padding-left: 12px;
            padding-right: 12px;
        }

        &.highlighted-chip {
            background: rgba(50, 180, 252, 0.4);
        }
    }
}

