@import 'variables';
@import 'colors';

.comment-modal{
  //remove scrollbar
  overflow-y: scroll;
  overflow-x: hidden;
  //remove scrollbar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }


}

.comment-section-mentions-popover{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  .comment-section-mentions-popover-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;

    .comment-section-mentions-popover-header-title{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: #11273F;
    }

    .comment-section-mentions-popover-header-subtitle{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #11273F;
    }

  }

  .comment-section-mentions-popover-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    height: 200px;
    
    .comment-section-mentions-popover-content-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      height: 50px;

      .comment-section-mentions-popover-content-item-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #a4b6ce;
      }

      .comment-section-mentions-popover-content-item-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;

        .comment-section-mentions-popover-content-item-info-username{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 800;
          font-size: 14px;
          line-height: 19px;
          color: #11273F;
        }

        .comment-section-mentions-popover-content-item-info-name{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #11273F;
        }

      }
    }
  }
  
}

.comment-section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  padding: 30px;
  background: #fff;

  @media screen and (max-width: $mobile_breakpoint){
    width: 100%;
    padding: 0;
  }


  .comment-section-new-comment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    background: #fff;

    .comment-section-new-comment{
      width: 97%;
    }

    .comment-section-new-comment-button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      background: #a4b6ce;
      cursor: pointer;

      &:hover{
        background: #3872bd;
        color: white;
      }

    }
  }



  .comment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    border-radius: 15px;

    .comment-replies{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      width: 100%;
      border-radius: 15px;
      position: relative;

      
      &::before{
          content: "";
          margin-left : 30px;
          position: absolute;
          width: 5px;
          height: 95%;
          background: #a4b6ce;
          border-radius: 15px;
          left: 0;
          top: 0;
      }

      .comment{
        margin-left : 60px;
        max-width: calc(100% - 40px);
      }


    
    
  }

    .comment{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      background: #fff;
      padding: 20px;
      width: 100%;

      .comment-content-upper,
      .comment-content-lower,
      .comment-content-middle{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
      }

      .comment-content-upper{
        .comment-content-upper-user{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .comment-content-upper-user-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #a4b6ce;
          }

          .comment-content-upper-user-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;

            .comment-content-upper-user-text-upper{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 5px;

              .comment-content-upper-user-text-username{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 22px;

                color: rgba(17, 39, 63, 0.5);

                &:hover{
                  color: #11273F;
                  text-decoration: underline;


                }
              }

              .comment-content-upper-user-text-tag{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 8px;
                line-height: 12px;
                color: #FFFFFF;

                padding: 2px 5px;

                background: #88939F;
                border-radius: 3px;
              }

            }

            .comment-content-upper-user-text-lower{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 22px;
              color: rgba(17, 39, 63, 0.5);
            }

          }
          
        }
      }

      .comment-content-middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .comment-content-body-textarea{
          width: 100%;

        }

        .comment-content-body-buttons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          gap: 10px;

          .comment-content-body-buttons-cancel{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #88939F;
          }

          .comment-content-body-buttons-save{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 22px;
            color: #11273F;
          }
        }

        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #11273F;
        }
      }

      .comment-content-lower{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .comment-content-lower-left{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .comment-content-lower-reply{
            cursor: pointer;
            color: gray;
            &:hover{
              color: #11273F;
              animation: pulse 0.5s;
              animation-iteration-count: infinite;
            }
          }

          .comment-content-lower-vote{
            cursor: pointer;
            color: gray;
            &.comment-content-lower-vote-active{
              color: #11273F;
            }

            &:hover{
              color: #11273F;
              animation: pulse 0.5s;
              animation-iteration-count: infinite;


              @keyframes pulse {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }

              
            }
          }
        }
        .comment-content-lower-right{
          
          cursor: pointer;
          color: gray;
          &:hover{
            color: #11273F;
            animation: pulse 0.5s;
            animation-iteration-count: infinite;
          }
          
        }
      }
    }
  }
}


.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  opacity: 0.3 !important;
  // overflow: 'scroll';
  // transform: translate(42px, 18px);
}

