.featured {
  padding: 50px 0;

  .featured-divider {
      margin: 60px 0;
  }
  // h2 {
  //     font-family: 'Inter';
  //     font-style: normal;
  //     font-weight: 500;
  //     font-size: 28px;
  //     line-height: 24px;
  //     display: flex;
  //     align-items: center;
  //     color: rgba(17, 39, 63, 0.8);
  // }
  .featured-cards{
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: flex-start;
      padding: 0 100px;

      .featured-card {
          display: flex;
          flex-direction: column;
          gap: 20px;
          max-width: 400px;
          width: fit-content;
          border: 1px solid #E6E6E6;
          border-radius: 14px;
          .categoryname-share-like {
              color: rgba(74, 125, 173, 1);
              display: flex;
              align-items: center;
              margin-left: 20px;
              justify-content: space-between;
              margin-right: 20px;
  
              .icons-share-heart {
                  display: flex;
                  gap: 10px;
              }
          }
  
          .featured-card-img {
              height: 200px;
              width: 100%;
              margin: auto;
              border-radius: 12px;
          }
  
          .featured-card-divider {
            margin: 0px 20px;
          }
  
          .featured-card-description {
            margin: 0px 10px; 
          }
  
          .author-date {
            display: flex;
            margin: 0px 10px 10px 10px;
            justify-content: space-between;
          }
      }
  }
  
}