@import 'variables';
@import 'colors';


.active-users-wrapper{
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  flex-direction: row;
  align-items: center;
  border: 1px solid $pubWeaveBlue;
  padding: 2px;
  width: fit-content;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
  background-color: white;
  z-index: 1000;
  cursor: pointer;

  .ellipsis-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 5px;
    color: $pubWeaveBlue;
    left: 45px;
  }

  .active-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height:  fit-content;


    img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #171717;
    }
  }


  .active-users{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



  }


  .active-users-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $pubWeaveBlue;
    color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-186px);
    border-radius: 20px;
    padding: 15px;
    gap: 10px;

    @keyframes active-users-modal-show{
      0%{
        transform: translateY(-176px);
        opacity: 0;
      }
      100%{
        transform: translateY(-186px);
        opacity: 1;
      }
    }

    animation: active-users-modal-show 0.3s ease-in-out;


    .modal-active-user{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .modal-active-user-img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #171717;
      }

      .modal-active-user-time{
        font-size: 12px;
        color: white;
        font-weight: 600;
        width: 110px;
      }

      .modal-active-user-name{
        width: 130px;
        font-size: 14px;
        color: white;
        font-weight: 600;
      }
    }

  }


}