.editorjs {

  // .ce-toolbar__actions{
  //   .ce-toolbar-section-info{
  //     position: absolute;
  //     top: 30px;
  //   }
  // }


  /* 
    revert for bug in Chromium browsers
    fix for the content editable attribute will work properly. 
  */
  &:not(.editorjs-read-only) {
    :where([contenteditable]) {
      -moz-user-modify: read-write;
      -webkit-line-break: after-white-space;
      -webkit-user-modify: read-write;
      overflow-wrap: break-word;
    }
  }

  &.editorjs-read-only {

    .ce-toolbar__actions,
    .ce-inline-toolbar__dropdown {
      display: none;
    }

    .codex-editor__redactor {
      padding-bottom: 0 !important;
    }

    // IMAGE PLUGIN > convert caption input to div
    .image-tool__caption {
      border: none;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      // gap: 5px;
      align-items: center;
      justify-content: center;
      color: rgb(114, 114, 114);
      font-size: 14px;
      font-weight: 400;
      font-family: 'Inter';
      padding: 0px 10px;
      margin: 0px 0px 10px;
      width: 100%;

      a,
      b,
      i {
        margin: 0 2px;
      }

      * {
        display: inline;
      }

    }
  }

  &.editorjs-published,
  &.editorjs-in-review {
    margin-top: 20px;
    // transform: translateY(-50px);
    // min-height: calc(80vh - 210px);
  }

  // IMAGE PLUGIN > center property
  .cdx-block.image-tool.image-tool--center {
    .image-tool__image {
      display: flex;
      justify-content: center;
    }
  }



  .cdx-review {
    background-color: #7fcbd1;
    padding: 2px 4px;
    margin: 0 4px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;

    &[data-color="1"] {
      background-color: #f5e2a4;
    }

    &[data-color="2"] {
      background-color: #f9d6d6;
    }

    &[data-color="3"] {
      background-color: #7fcbd1;
    }

    &[data-color="4"] {
      background-color: #d6f9e8;
    }

    &[data-color="5"] {
      background-color: #d6f9f9;
    }

    &[data-color="6"] {
      background-color: #d6e8f9;
    }

    &[data-color="7"] {
      background-color: #d6d6f9;
    }

    &[data-color="8"] {
      background-color: #e8d6f9;
    }

    &[data-note=""] {

      // lighter shade
      &[data-color="1"] {
        background-color: #f6eac6;
      }

      &[data-color="2"] {
        background-color: #f9e2e2;
      }

      &[data-color="3"] {
        background-color: #c6eaf6;
      }

      &[data-color="4"] {
        background-color: #e2f9e8;
      }

      &[data-color="5"] {
        background-color: #e2f9f9;
      }

      &[data-color="6"] {
        background-color: #e2e8f9;
      }

      &[data-color="7"] {
        background-color: #e2e2f9;
      }

      &[data-color="8"] {
        background-color: #e8e2f9;
      }



      &:hover {
        &[data-note]:before {
          display: none;
        }

      }
    }

    &:hover {

      &[data-reviewer-name]:after,
      &[data-note]:before {
        transition: all 0.3s ease;
        animation: reviewTooltipFadeIn 0.3s ease forwards;
        position: absolute;
        background-color: #fff;
        // transform: translateX(50%);
        box-shadow: 0 3px 15px -3px rgba(13, 20, 33, .13);
        border: 1px solid #E8E8EB;
        border-radius: 5px;
        padding: 5px;
        z-index: 1000;
        display: flex;
        color: #5b5b5b;
        flex-direction: column;
        gap: 5px;
        right: 0;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
      }


      &[data-reviewer-name]:after {
        content: attr(data-reviewer-name);
        bottom: 25px;
        width: fit-content;
        white-space: nowrap;
      }

      &[data-note]:before {
        content: attr(data-note);
        bottom: 55px;
        width: 200px; //min(200px, fit-content);
      }

      @keyframes reviewTooltipFadeIn {
        0% {
          opacity: 0;
          transform: translateX(50%);
        }

        100% {
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }



  .ce-inline-toolbar__actions>.ce-review-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #121d40;

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 0.8em;
      font-weight: 500;
      color: #121d40;

      &::placeholder {
        color: #121d40;
        opacity: 0.5;
      }
    }




    button {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 0.8em;
      font-weight: 600;
      color: #000;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  a {
    color: $pubWeaveBlue;
    border-bottom: 1px solid $pubWeaveBlue;
  }

  .ce-inline-tool {
    min-width: 20px;
  }

  sub {
    font-size: 0.7em;
  }

  sup {
    font-size: 0.7em;
    vertical-align: super;

  }

  .codeBoxHolder {
    overflow: inherit;
  }


  .ce-toolbar {
    z-index: 1000;
  }

  .cdx-versioning-selected {
    .ce-block__content {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(128, 128, 128);
      border-radius: 8px;
      transition: all 0.3s ease;
      margin-top: 5px;
      // padding: 10px 0;
      // box-shadow: 0 0 10px 0 rgba(181, 41, 41, 0.1);



      .cdx-block {
        padding: 10px;
        transition: all 0.3s ease;
      }
    }

  }

  .ce-block__content {

    &#critical-section {
      // border: 1px solid rgb(206, 12, 12);
      pointer-events: none;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      transition: all 0.3s ease;
      // box-shadow: inset 0 0 10px 0 rgba(206, 12, 12, 0.126);

      &::after {
        content: "Somebody else is editing this section";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 0.8em;
        color: #11273F;
        background: rgba(#11273F, 0.2);
        backdrop-filter: blur(6px);
        pointer-events: none;
        border-radius: 5px;
        animation: criticalSectionFadeIn 1s ease forwards;
        z-index: 1000;

        @keyframes criticalSectionFadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }
  }



  .ce-block__content,
  .ce-toolbar__content {
    max-width: calc(100% - 150px);

    @media screen and (max-width: $mobile_breakpoint) {
      max-width: calc(100% - 20px);
    }
  }

  .my-word-count-button {
    margin-left: 10px;
  }

  // .ce-inline-toolbar {
  // &::after{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: -80px;
  //   width: 80px;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.8);
  //   border-radius: 5px;
  // }
  // }

  min-height: calc(80vh - 210px);

  .codex-editor {
    // transform: translateY(-800px);

    // #katex-node{
    //   display: flex;
    //   justify-content: space-between;
    //   flex-direction: row;
    //   align-items: center;

    //   .virtual-keyboard-button{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 55px;
    //     height: 40px;
    //     border-radius: 15%;
    //     border: 1px solid rgb(114, 114, 114);
    //   }
    // }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1.25em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 0.75em;
    }

    .text-node {
      border: 1px solid rgb(114, 114, 114);
      border-radius: 5px;
      display: flex;
      min-width: 500px !important;

      &:where([hidden]) {
        display: none;
      }

      .ML__container {
        min-width: 500px !important;
      }

    }

  }
}