@import 'variables';
@import 'colors';

.footer-pubweave  {
    background-color: #11273F;
    height: 300px;
    width: 100%;

    @media screen and (max-width: $mobile_breakpoint) {
        height: auto;
    }



    .footer-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 60px;
        padding-bottom: 60px;
        color: rgba(250, 250, 250, 0.84);

        @media screen and (max-width: $mobile_breakpoint) {
            flex-direction: column;
            gap: 20px;
            padding-left: 60px;
        }

        .social-networks {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .navigation {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .icons-social {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: rgba(250, 250, 250, 0.6);
        }
    }
    .solid {
        border-top: 0.5px solid rgba(255, 255, 255, 0.2);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        height: 0.5px;
        width: 90vw;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
      }
    .copyrights-termsofuse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 550px;
        color: rgba(250, 250, 250, 0.84);
        // padding-bottom: 40px;
        padding-top: 35px; 

        @media screen and (max-width: $mobile_breakpoint) {
            gap: 20px;
        }

    }
}


