.hero-section {
    background-color: #11273F;
    padding-bottom: 40px;
}

.punchline-cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 150px);
}

.chat-dialoge {
    width: 500px;
    height: 500px;
    margin-top: 50px;

}

.punchline {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.punchline > h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 115px;
/* or 134% */
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.punchline h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    // margin-top: 50px;
    color: #FFFFFF;
}

.punchline .explore {
    background-color: white;
    height: 59px;
    left: 140px;
    top: 631px;
    border-radius: 54.4615px;
    padding: 5px;
    color: #386EE5;
    width: 195px;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
}

.punchline .our-mission {
    border-color: white;
    border-style: solid;
    height: 59px;
    left: 140px;
    top: 631px;
    border-radius: 54.4615px;
    padding: 5px;
    color: white;
    width: 195px;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
}
.cta-buttons {
    display: flex;
    // margin-top: 50px;
    gap: 20px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
    margin-left: auto;
    margin-right: auto;
    animation: fadeinout 1100ms infinite;

}

@keyframes fadeinout {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0}
  }

// @keyframes fadeOut {
//     100% {opacity: 1;}
//     0% {opacity: 0;} 
//  } 