@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./reset_stylesheet";
@import "react-toastify/dist/ReactToastify.min.css";
@import 'bulma/css/bulma.min.css';
@import "./main";
@import "./navbar";
@import "./footer";
@import "./pages.editor";
@import "./pages.about";
@import "./pages.home";
@import "./pages.login";
@import "./pages.user";
@import "./pages.blogs";
@import "./pages.myarticles";
@import "./components.cards.featured";
@import "./components.cards.categoryhighlight";
@import "./components.cards.article";
@import "./components.timeline";
@import "./components.loader";
@import "./components.table";
@import "./components.comments";
@import "./components.editor.config";
@import "./components.editor.imageselect";
