@import "./colors";
@import "./scrollbars";

html {
  background: $white;
  color: $black;
  height: 100%;
  width: 100%;

  body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;

    #root,
    .App {
      display: flex;
      height: 100%;
      width: 100%;

      .application-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        width: 100%;

        .scroll-wrapper {
          @include scrollbarVertical;
          height: 100%;
          overflow-y: auto;
          width: 100%;

          main {
            margin: 20px auto 60px auto;
            max-width: 1200px;
            padding: 0 20px;
            width: 100%;

            .page-title {
              font-size: 30px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
