@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'colors';
@import 'variables';

.navbar-mobile-menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    transition: 0.7s ease-in-out;
    opacity: 0;
    pointer-events: none;

    &.mobile-menu-open{
        opacity: 1;
        pointer-events: all;
    }
}

.navbar-mobile-menu{

    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: -50%;
    align-items: center;
    justify-content: center;
    background: $white;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
    transition: 0.7s ease-in-out;
    z-index: 99;


    &.mobile-menu-open{
        bottom: 70px;
    }

    .mobile-menu-items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;


        .search-wrapper {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap:20px;

            .searchbar {
                margin-bottom: 0px;
                width: 500px;
                border-radius: 18px;
            }
            .select select {
                border-radius: 16px;
                
            }

            .search-type{
                .search-type-button{
                    .search-type-button-icon{
                        width: 20px;
                        height: 20px;
                        color: rgba($pubWeaveBlue, 0.5);
                    }

                    &.Mui-selected{
                        background: $white;
                        color: $pubWeaveBlue;
                        
                        .search-type-button-icon{
                            color: $pubWeaveBlue;
                        }
                    }
                }
            }
        }


        a{
            color: $pubWeaveBlue;
            border: 1px solid $white;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid rgba($color: $pubWeaveBlue, $alpha: 0.5);

            &:hover{
                background: $pubWeaveBlue;
                color: $white;
                
            }
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    // border: 1px solid black;
    // justify-content: space-between;
    gap: 50px;
    height: 70px;
    width: 100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $mobile_breakpoint) {
        flex-direction: column;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        z-index: 100; 
        border-radius: 15px 15px 0px 0px;
        box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    }

    .mobile-burger{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        padding: 10px;

    }



    .login-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #11273F;
        border-radius: 16px;
        padding: 5px;
        color: #11273F;
        width: 100px;
        text-align: center;
        font-family: Inter;
        font-weight: 400;
        height: 40px;
        font-size: 14px;
    }

    .search-wrapper {
        align-items: center;
        display: flex;
        gap:20px;

        .nav--logo {
            padding: 5px;
            margin-left: 20px;
        }
        .searchbar {
            margin-bottom: 0px;
            width: 500px;
            border-radius: 18px;
        }
        .select select {
            border-radius: 16px;
            
        }
    }
    
    a {
        color: #11273F;
        font-size: 14px;
    }
    .navigation {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: $mobile_breakpoint) {
            width: 100%;
            padding: 0 20px;
            align-items: center;
            justify-content: space-around;
        }




        .active {
            animation: slide-up 0.3s ease-in-out forwards;

            @keyframes slide-up {
                0% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(-5px);
                }
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #11273F;
                margin-top: 5px;
                animation: slide 0.3s ease-in-out;

                @keyframes slide {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 100%;
                    }
                }
            }
        }

        :not(.active) {
            transition: all 0.3s ease-in-out;

            animation: slide-down 0.3s ease-in-out forwards;

            @keyframes slide-down {
                0% {
                    transform: translateY(-5px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }

        .submit-work {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #11273F;
            border-radius: 16px;
            padding: 5px;
            color: white !important;
            width: 200px;
            text-align: center;
            font-family: Inter;
            font-weight: 400;
            height: 40px;
            font-size: 14px;

        }

        .navbar-user{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            height: 30px;
            transition: all 0.3s ease-in-out;
            background-color: #11273F;
            border-radius: 10px;
            padding: 5px;

            .navbar-user-icon{
                width: 20px !important;
                height: 20px !important;
                font-size: 14px;
                color: white;
            }

        }
    }
}