@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    // border: 1px solid black;
    // justify-content: space-between;
    gap: 50px;
    height: 70px;
    width: 100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);


    .login-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #11273F;
        border-radius: 16px;
        padding: 5px;
        color: #11273F;
        width: 100px;
        text-align: center;
        font-family: Inter;
        font-weight: 400;
        height: 40px;
        font-size: 14px;
    }

    .search-wrapper {
        align-items: center;
        display: flex;
        gap:20px;

        .nav--logo {
            padding: 5px;
            margin-left: 20px;
        }
        .searchbar {
            margin-bottom: 0px;
            width: 500px;
            border-radius: 18px;
        }
        .select select {
            border-radius: 16px;
            
        }
    }
    
    a {
        color: #11273F;
        font-size: 14px;
    }
    .navigation {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;




        .active {
            animation: slide-up 0.3s ease-in-out forwards;

            @keyframes slide-up {
                0% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(-5px);
                }
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #11273F;
                margin-top: 5px;
                animation: slide 0.3s ease-in-out;

                @keyframes slide {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 100%;
                    }
                }
            }
        }

        :not(.active) {
            transition: all 0.3s ease-in-out;

            animation: slide-down 0.3s ease-in-out forwards;

            @keyframes slide-down {
                0% {
                    transform: translateY(-5px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }

        .submit-work {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #11273F;
            border-radius: 16px;
            padding: 5px;
            color: white !important;
            width: 200px;
            text-align: center;
            font-family: Inter;
            font-weight: 400;
            height: 40px;
            font-size: 14px;
        }
    }
}