.blogs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .reaction-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 60px;
}

  .all-chips {
    display: flex;
    gap: 10px;
}


  #editorjs {
    min-height: calc(80vh - 210px);
    
    .codex-editor{
      caret-color: transparent !important;

        // transform: translateY(-700px);

      h1{
        font-size: 2.5em;
      }

      h2{
        font-size: 2em;
      }

      h3{
        font-size: 1.5em;
      }

      h4{
        font-size: 1.25em;
      }

      h5{
        font-size: 1em;
      }

      h6{
        font-size: 0.75em;
      }

      .text-node{
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
        display: flex;
        min-width: 500px !important;

        &:where([hidden]){
          display: none;
        }

        .ML__container{
          min-width: 500px !important;
        }
      }
    }
  }


  .blogs-category-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
    background: #11273F;

    &.single-page{
      justify-content: center;
    }

    .category-highlight-single-page-text{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 40px;
      padding: 0 50px 70px 50px;
      margin: 30px 0px;
      max-width: 1000px;

      .category-highlight-single-page-text-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .category-highlight-title{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          color: #FFFFFF;
        }

        .category-highlight-category{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #32B4FC;
        }

        .category-highlight-single-page-text-left-tags{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
        }
      }

      .category-highlight-single-page-text-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .category-highlight-single-page-text-right-social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          color: #32B4FC;
        }

        .category-highlight-single-page-text-right-author{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;

          .category-highlight-single-page-text-right-author-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;

            .category-highlight-single-page-text-right-author-text-name{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }

            .category-highlight-single-page-text-right-author-text-date{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #FFFFFF;
            }
          }
        }

      }
   }


    .category-highlight-text {
        height: fit-content;
        // border-style: solid;
        color: white;
        display: flex;
        align-items: left;
        gap: 40px;
        flex-direction: column;
        margin: 30px 0px;
    
        h4 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #32B4FC;
        }
    
        // h2 {
        //     font-family: 'Inter';
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 30px;
        //     line-height: 36px;
        //     color: #FFFFFF;    
        // }
    
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
    
        }
    
        .author {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin-top: 20px;
        }
    }
  }

  .single-blog-img {
    width: calc(100% - 200px);
    max-width: 1000px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateY(-100px);
  }

  .blogs-featured{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 100px;
    width: 100%;

    .blogs-featured-categories-list-browse-all{
      padding: 20px 0px;
      color: #11273F;

      &:hover{
        cursor: pointer;
        color: #32B4FC;
      }
    }

    .blogs-featured-categories-list{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      padding: 20px 0px;

      .blogs-featured-categories-list-item{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        color: #11273F;

        &.blogs-featured-categories-list-item-active{
          color: #32B4FC;
        }

        &:hover{
          cursor: pointer;
          color: #32B4FC;
        }
      }
    }

    hr.blogs-featured-divider {
      width: 95%;
      margin: 20px auto 20px auto;
    }

    .blogs-featured-subtitle{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #11273F;
      margin: 20px 0px;
    }

    .blogs-featured-cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
      justify-content: center;
    }

    .blogs-other-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }
    

  }

}

