.blogs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .reaction-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 60px;
}

  .all-chips {
    display: flex;
    gap: 10px;
    .chip{
        display: inline-flex;
        flex-direction: row;
        background: rgba(50, 180, 252, 0.8);
        border: none;
        height: 36px;
        outline: none;
        padding: 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        white-space: nowrap;
        align-items: center;
        border-radius: 16px;
        vertical-align: middle;
        text-decoration: none;
        justify-content: center;

        .chip-content{
            display: flex;
            align-items: center;
            user-select: none;
            white-space: nowrap;
            padding-left: 12px;
            padding-right: 12px;
        }

        &.highlighted-chip {
            background: rgba(50, 180, 252, 0.4);
        }
    }
}


  #editorjs {
    min-height: calc(80vh - 210px);
    
    .codex-editor{
      caret-color: transparent !important;

        // transform: translateY(-700px);

      h1{
        font-size: 2.5em;
      }

      h2{
        font-size: 2em;
      }

      h3{
        font-size: 1.5em;
      }

      h4{
        font-size: 1.25em;
      }

      h5{
        font-size: 1em;
      }

      h6{
        font-size: 0.75em;
      }

      .text-node{
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
        display: flex;
        min-width: 500px !important;

        &:where([hidden]){
          display: none;
        }

        .ML__container{
          min-width: 500px !important;
        }
      }
    }
  }

  .category-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    width: 100%;
    }

    .single-blog-content {
      display: flex;
      // align-items: center;
      flex-direction: column;
      width: 80%;
      margin-top: -50px;
      margin-bottom: 20px;
      color: rgba(17, 39, 63, 0.8);
      gap: 10px;
  
  
      // h2 {
      //     font-family: 'Inter';
      //     font-style: normal;
      //     font-weight: 500;
      //     font-size: 20px;
      //     line-height: 24px;
      //     display: flex;
      // }
  
      p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #11273F;
      }
  

  }

  
  .single-blog-img {
    position: relative;
    top: -110px;
    width: 80%;
    height: 500px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .headline-category-chips-author {
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 200px;

    .category-headline-chips {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social-author-info-box {
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .author-info-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;   
    }

    .social {
        color: white;
        display: flex;
        gap: 8px;
    }

    .published-date {
        font-family: 'Inter' !important;
        font-style: normal !important;;
        font-weight: 500 !important;;
        font-size: 10px !important;;
        line-height: 12px !important;;
        color: rgba(255, 255, 255, 0.4) !important;;
    }
  }
}

.featured-cards {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 20px;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 40px;
}

.featured-divider {
  width: 95%;
  margin: 20px auto 20px auto;
}

.catgories-headlines {
  display: flex;
  flex-direction: row;
  gap: 250px;
  margin: 0 100px;
}

.article-card-divider {
  margin: 0;
}