@import './variables';
@import './colors';

.editorjs-context-menu{
  .editorjs-context-menu-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    
    &:hover{
      background: #32B4FC;
      color: #FFFFFF;
    }
  }
}

.single-blog-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  min-height: calc(100vh - 270px);


  .reaction-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    .reaction-icon-comment{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;

      &:hover{
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
      }
    }

    .reaction-icon-like{
      width: 28px;
      height: 28px;

      &:hover{
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
      }
    }
}

  #editorjs {
    transform: translateY(-50px);
    // min-height: calc(80vh - 210px);

    .ce-block__content,
    .ce-toolbar__content {
        max-width: min(calc(100% - 200px),950px);

        @media screen and (max-width: $mobile_breakpoint) {
          max-width: 92vw;
        }
    }


    
    .codex-editor{
      caret-color: transparent !important;

        // transform: translateY(-700px);

      h1{
        font-size: 2.5em;
      }

      h2{
        font-size: 2em;
      }

      h3{
        font-size: 1.5em;
      }

      h4{
        font-size: 1.25em;
      }

      h5{
        font-size: 1em;
      }

      h6{
        font-size: 0.75em;
      }

      .text-node{
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
        display: flex;
        min-width: 500px !important;

        &:where([hidden]){
          display: none;
        }

        .ML__container{
          min-width: 500px !important;
        }
      }
    }
  }

  .single-blog-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 100px;
    height: 400px;
    background: #11273F;
    transition: all 0.8s ease-in-out;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }
    
  
    .single-blog-highlight-text{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 30px;
      padding: 0 50px 70px 50px;
      margin: 30px 0px;
      max-width: 1000px;


      @media screen and (max-width: $mobile_breakpoint) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 10px 110px 10px;
      }

      .single-blog-highlight-text-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: $mobile_breakpoint) {
          gap: 10px; 
        }

        .single-blog-highlight-title{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          color: #FFFFFF;
        }

        .single-blog-highlight-category{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #32B4FC;
        }

        .single-blog-highlight-text-left-tags{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .single-blog-highlight-text-left-tags-chip{
            color: $white;
            border-color: $white;
            cursor: pointer;

            &:hover{
              background-color: $white;
              color: $pubWeaveBlue;
            }
          }
        }
      }

      .single-blog-highlight-text-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .single-blog-highlight-text-right-social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          color: #32B4FC;
        }

        .single-blog-highlight-text-right-author{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;

          .single-blog-highlight-text-right-author-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;

            .single-blog-highlight-text-right-author-text-name{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }

            .single-blog-highlight-text-right-author-text-date{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #FFFFFF;
            }
          }
        }

      }
   }

  }

  .single-blog-img {
    width: calc(100% - 200px);
    max-width: 1000px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    transform: translateY(-100px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.single-blog-img-no-image {
      
    }

    @media screen and (max-width: $mobile_breakpoint) {
      width: 92vw;
    }
  }

}

