@import './variables';
@import './colors';

.category-list-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  // padding: 10px 0;
  background: #FFFFFF;
  z-index: 3;

  @media screen and (max-width: $mobile_breakpoint) {
    padding-top:0;
  }


  .category-list-side-block-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 0 20px;

    @media screen and (max-width: $mobile_breakpoint) {
      width: 30px;
      padding: 0 10px;
    }
  }

  .category-list-side-block-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    
    @media screen and (max-width: $mobile_breakpoint) {
      width: 30px;
      padding: 0 10px;
    }
  }

  @media screen and (max-width: $mobile_breakpoint) {
    // padding: 20px 20px;
  }

  .category-list-inner{
    display: flex;
    // padding: 10px 0px;
    width: 100%;
    overflow-x: auto;
    gap:  20px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: $mobile_breakpoint) {
      gap:  10px;
    }

    .category-list-item{
      display: flex;
      flex-direction: row;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      white-space: nowrap;
      color: #11273F;
      // padding: 10px 10px;
      width: fit-content;
      background: $pubWeaveBlue;

      &.category-list-item-active{

        .category-list-item-block-left,
        .category-list-item-block-right{
          display: flex;
        }

        .category-list-item-inner-overlay{
          .category-list-item-inner{
            background: $pubWeaveBlue;

            .category-list-item-count{
              color: $white;
            }

            .category-list-item-name{
              color: $white;
            }

          }
        }

      }

      .category-list-item-inner-overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white;

        .category-list-item-inner{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 10px 20px;
          background: $white;
          border-radius: 30px 30px 0px 0px;

          @media screen and (max-width: $mobile_breakpoint) {
            padding: 5px 15px;
            .category-list-item-count{
              font-size: 10px;
            }

            .category-list-item-name{
              font-size: 14px !important;
            }
          }
          
  
          .category-list-item-count{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            padding-top: 3px;
            color: rgba($pubWeaveBlue, 0.5);
          }
  
          .category-list-item-name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 12px;
            padding-top: 3px;
            color: $pubWeaveBlue;
          }
        }
      }



      .category-list-item-block-left{
        display: none;
        width: 20px;
        height: 100%;
        padding: 0 20px;
        background: $white;
        border-radius: 0 0 50% 0px;

        @media screen and (max-width: $mobile_breakpoint) {
          border-radius: 0 0 40% 0;
        }
      }

      .category-list-item-block-right{
        display: none;
        width: 20px;
        height: 100%;
        padding: 0 20px;
        background: $white;
        border-radius: 0 0 0 50%;

        @media screen and (max-width: $mobile_breakpoint) {
          border-radius: 0 0 0 40%;
        }

        
      }



    }
  }

}

.editorjs-context-menu{
  .editorjs-context-menu-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    
    &:hover{
      background: #32B4FC;
      color: #FFFFFF;
    }
  }
}

.blogs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  min-height: calc(100vh - 270px);

  .blogs-no-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    font-size: 1.5em;
    transition: all 0.8s ease-in-out;
    transform: translateY(-$blogHighlightHeight);

    &.blogs-no-articles-active{
      transition: all 0.8s ease-in-out;
      transform: translateY(0);
    }


  }

  .reaction-icons {
    // transform: translateY(-70px);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    .reaction-icon-like{
      width: 28px;
      height: 28px;
    }
}

  .all-chips {
    display: flex;
    gap: 10px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }


    @media screen and (max-width: $mobile_breakpoint) {
      display: flex;
      // flex-wrap: wrap;
    }

    .chip{
      cursor: pointer;

      &:hover{
        background: #32B4FC;
        color: #FFFFFF;
        
      }
    }
}


  #editorjs {
    transform: translateY(-50px);
    // min-height: calc(80vh - 210px);

    .ce-block__content,
    .ce-toolbar__content {
        max-width: min(calc(100% - 200px),950px);

        @media screen and (max-width: $mobile_breakpoint) {
          max-width: 92vw;
        }
    }


    
    .codex-editor{
      caret-color: transparent !important;

        // transform: translateY(-700px);

      h1{
        font-size: 2.5em;
      }

      h2{
        font-size: 2em;
      }

      h3{
        font-size: 1.5em;
      }

      h4{
        font-size: 1.25em;
      }

      h5{
        font-size: 1em;
      }

      h6{
        font-size: 0.75em;
      }

      .text-node{
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
        display: flex;
        min-width: 500px !important;

        &:where([hidden]){
          display: none;
        }

        .ML__container{
          min-width: 500px !important;
        }
      }
    }
  }


  

  .single-blog-content-divider{
    width: 80%;
    height: 2px;
    background: #E5E5E5;
    margin: 20px 0px;
  }

  .blogs-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 100px;
    background: #FFFFFF;
    z-index: 3;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }

    .blogs-featured-categories-list{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
      padding: 10px 0px;
      width: fit-content;

      @media screen and (max-width: $mobile_breakpoint) {
        grid-template-columns: repeat(2, 1fr);
      }

      .blogs-featured-categories-list-item{
        display: flex;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        white-space: nowrap;
        color: #11273F;
        padding: 10px 10px;
        width: 150px;

        .blogs-featured-categories-list-item-count{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          padding-top: 3px;
          color: rgba($pubWeaveBlue, 0.5)
        }

        &.blogs-featured-categories-list-item-all{
          background: #32B4FC;
          border-radius: 5px;
          color: #FFFFFF;

          &:hover{
            cursor: pointer;
            color: #FFFFFF;
          }
        }

        &.blogs-featured-categories-list-item-active{
          color: #32B4FC;
          border-radius: 5px;
          border: 1px solid #32B4FC;
        }

        &:hover{
          cursor: pointer;
          color: #32B4FC;
        }
      }
    }
  }


  .blogs-category-highlight {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 100px;
    background: #11273F;
    transition: all 0.8s ease-in-out;
    height: $blogHighlightHeight;
    // box-shadow: inset 0 0 10px #000000;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }
    

    &:not(.single-page){

      transform: translateY(-$blogHighlightHeight);

      &.blogs-category-highlight-active{
        transform: translateY(0px);
      }
    }




    &.single-page{
      justify-content: center;
      height: 400px;
    }

    .category-highlight-single-page-text{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 30px;
      padding: 0 50px 70px 50px;
      margin: 30px 0px;
      max-width: 1000px;

      @media screen and (max-width: $mobile_breakpoint) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 10px 110px 10px;
      }

      .category-highlight-single-page-text-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: $mobile_breakpoint) {
          gap: 10px; 
        }

        .category-highlight-title{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          color: #FFFFFF;
        }

        .category-highlight-category{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #32B4FC;
        }

        .category-highlight-single-page-text-left-tags{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .category-highlight-single-page-text-left-tags-chip{
            color: $white;
            border-color: $white;
            cursor: pointer;

            &:hover{
              background-color: $white;
              color: $pubWeaveBlue;
            }
          }
        }
      }

      .category-highlight-single-page-text-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .category-highlight-single-page-text-right-social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          color: #32B4FC;
        }

        .category-highlight-single-page-text-right-author{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;

          .category-highlight-single-page-text-right-author-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;

            .category-highlight-single-page-text-right-author-text-name{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }

            .category-highlight-single-page-text-right-author-text-date{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #FFFFFF;
            }
          }
        }

      }
   }


    .category-highlight-text {
        height: fit-content;
        // border-style: solid;
        color: white;
        display: flex;
        align-items: left;
        gap: 20px;
        flex-direction: column;
        margin: 30px 0px;
        width: 100%;
        max-width: 1500px;

        .category-highlight-text-top{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          h4 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #32B4FC;
          }

        }
    
        
    
        // h2 {
        //     font-family: 'Inter';
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 30px;
        //     line-height: 36px;
        //     color: #FFFFFF;    
        // }
    
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
    
        }
    
        .author {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin-top: 20px;
        }
    }
  }

  .single-blog-img {
    width: calc(100% - 200px);
    max-width: 1000px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    transform: translateY(-100px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: $mobile_breakpoint) {
      width: 92vw;
    }
  }

  .blogs-featured{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 100px;
    width: 100%;
    max-width: 1500px;
    transition: all 0.8s ease-in-out;
    transform: translateY(-$blogHighlightHeight);

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }

    &.blogs-featured-active{
      transition: all 0.8s ease-in-out;
      transform: translateY(0);
    }

    // &:not(.blogs-featured-active){
    //   animation: slideDown 0.8s ease-in-out forwards;

    //   @keyframes slideDown {
    //     0% {
    //       transform: translateY(0px);
    //     }
    //     100% {
    //       transform: translateY(-280px);
    //     }
    //   }

    //   @media screen and (max-width: $mobile_breakpoint) {
    //     @keyframes slideDown {
    //       0% {
    //         transform: translateY(0px);
    //       }
    //       100% {
    //         transform: translateY(-390px);
    //       }
    //     }
    //   }
    // }

    hr.blogs-featured-divider {
      width: 95%;
      margin: 0 auto 20px auto;
    }

    .blogs-featured-subtitle{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 18px;
      color: #11273F;
      margin: 20px 0px;

      &:after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $pubWeaveBlue;
        margin: 10px 0px;
      }
    }

    .blogs-featured-cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
      justify-content: center;

      @media screen and (max-width: $mobile_breakpoint) {
        flex-direction: column;
      }
    }

    .blogs-other-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }
    

  }

}

