.editor-wrapper{

  @keyframes editor-title-focus {
    0%{ width: 0%; }
    100%{ width: 100%;} 
  }

  @keyframes editor-title-focus-reverse {
    0%{ width: 100%; }
    100%{ width: 0%;} 
  }

  .editor-wrapper-publish-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    // background-color: #11273F;
    background: linear-gradient(50deg, rgba(17,39,63,1) 33%, rgba(255,255,255,1) 56%);    
    background-size: 300% 100%;
    background-position: right;
    color: rgba(17,39,63,1);
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.6s ease;
    place-content: center;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);

    &:hover, &:focus {
      background-color: #e91e63;
      color: #fff;
    }

    &:hover{
      background-color: #315378;
      animation: editor-title-focus 0.6s ease forwards;
    }

    &:not(:hover){
      animation: editor-title-focus-reverse 0.6s ease forwards;
    }

    @keyframes editor-title-focus {
      0%{ 
        background-position: right; 
        box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
      }
      100%{ 
        background-position: left;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      }
    }

    @keyframes editor-title-focus-reverse {
      0%{ background-position: left; }
      100%{ background-position: right;}
    }

  }

  .editor-title{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);

    .editor-title-input{
      margin-left: 20px;
      height: 40px;
      font-size: 1.5em;

      &.focus{
        transform: translateX(8px);
      }
    }

  }

  .editor-title-hr{
    width: 0%;
    height: 3px;
    background-color: #11273F;
    margin: 0 0 20px 0;

    &.focus{
      animation: editor-title-focus 0.3s ease forwards;
    }

    &.empty{
      width: 100% !important;
      background-color: #debc00;
    }

    &:not(.focus){
      animation: editor-title-focus-reverse 0.3s ease forwards;
    }

  }
  #editorjs {

    .my-word-count-button{
      margin-left: 10px;
    }

    .ce-inline-toolbar{
      // &::after{
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: -80px;
      //   width: 80px;
      //   height: 100%;
      //   background-color: rgba(0, 0, 0, 0.8);
      //   border-radius: 5px;
      // }
    }

    min-height: calc(80vh - 210px);
    
    .codex-editor{
      transform: translateY(-700px);

    // #katex-node{
    //   display: flex;
    //   justify-content: space-between;
    //   flex-direction: row;
    //   align-items: center;

    //   .virtual-keyboard-button{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 55px;
    //     height: 40px;
    //     border-radius: 15%;
    //     border: 1px solid rgb(114, 114, 114);
    //   }
    // }

    h1{
      font-size: 2.5em;
    }

    h2{
      font-size: 2em;
    }

    h3{
      font-size: 1.5em;
    }

    h4{
      font-size: 1.25em;
    }

    h5{
      font-size: 1em;
    }

    h6{
      font-size: 0.75em;
    }

    .text-node{
      border: 1px solid rgb(114, 114, 114);
      border-radius: 5px;
      display: flex;
      min-width: 500px !important;

      &:where([hidden]){
        display: none;
      }

      .ML__container{
        min-width: 500px !important;
      }

    }

  }
  }

  .editor-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

}