@import './variables';
@import './colors';

.like-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  .like-button-icon {
    width: 28px;
    height: 28px;

    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.2);
    }
  }
}


.editorjs-context-menu {
  .editorjs-context-menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #32B4FC;
      color: #FFFFFF;
    }

    &.editorjs-context-menu-item-disabled {
      cursor: default;
      background: #FFFFFF;
      color: gray;
    }
  }
}

.single-blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  flex: 1;

  &.single-blog-wrapper-review {
    padding-bottom: 0px;
  }


  .reaction-icons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    .reaction-icon-comment {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;

      &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
      }
    }
  }

  .editorjs-wrapper {
    width: 100%;
  }

  .single-blog-reviewer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 70px;
    // height: 400px;
    background: #11273F;
    transition: all 0.8s ease-in-out;
    margin: 20px 0px;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }

    &.single-blog-reviewer-header-closed {
      margin: 0px;
      box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.10);

    }

    h2.single-blog-reviewer-header-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      max-width: 1000px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 36px;
      color: #FFFFFF;

      @media screen and (max-width: $mobile_breakpoint) {
        font-size: 20px;
      }
    }

    .single-blog-reviewer-header-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: white;
    }

  }

  .single-blog-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 100px;
    // height: 400px;
    background: #11273F;
    transition: all 0.8s ease-in-out;

    @media screen and (max-width: $mobile_breakpoint) {
      padding: 20px 20px;
    }

    .single-blog-highlight-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 30px;
      padding: 0 50px 20px 50px;
      margin: 30px 0px;
      max-width: 1000px;


      @media screen and (max-width: $mobile_breakpoint) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 10px 110px 10px;
      }

      .single-blog-highlight-text-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: $mobile_breakpoint) {
          gap: 10px;
        }

        .single-blog-highlight-title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 36px;
          color: #FFFFFF;
        }

        .single-blog-highlight-description {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          color: #FFFFFF;
        }

        .single-blog-highlight-category {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #32B4FC;
        }

        .single-blog-highlight-text-left-tags {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .single-blog-highlight-text-left-tags-chip {
            color: $white;
            border-color: $white;
            cursor: pointer;

            &:hover {
              background-color: $white;
              color: $pubWeaveBlue;
            }
          }
        }
      }

      .single-blog-highlight-text-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        .single-blog-highlight-text-right-social-icons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          color: #32B4FC;
        }

        .single-blog-highlight-text-right-author {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          min-width: 150px;

          .single-blog-highlight-text-right-author-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 5px;

            .single-blog-highlight-text-right-author-text-name {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }

            .single-blog-highlight-text-right-author-text-date {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #FFFFFF;
            }
          }
        }

      }
    }

  }

  .single-blog-img {
    width: calc(100% - 200px);
    max-width: 1000px;
    object-fit: contain;
    border-radius: 10px;
    object-position: center;
    transform: translateY(-100px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.single-blog-img-no-image {
      background: #0e2033;
      max-height: 350px;
    }

    @media screen and (max-width: $mobile_breakpoint) {
      width: 92vw;
    }
  }

}