@import 'variables';
@import 'colors';

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 401px);
  justify-content: space-between;

  @media screen and (max-width: $mobile_breakpoint) {
    height: 100%;
  }

  .login-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(64, 88, 162, 0.591);
    padding: 0 300px;
    gap: 50px;


    @media screen and (max-width: $mobile_breakpoint) {
      flex-direction: column;
      padding: 0 20px;
    }

    .login-section-left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 40vw;
      color: white;

      @media screen and (max-width: $mobile_breakpoint) {
        width: 100%;
        align-items: center;
        padding: 20px;
      }

      .login-section-left-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        font-weight: 600;

      }
      .login-section-left-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
      }

    }

    .login-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 80px 20px;
      border: 1px solid #11273f6b;
      box-shadow: 0 0 10px #11273f6b;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      padding: 80px 50px 50px 50px;
      gap: 20px;


      @media screen and (max-width: $mobile_breakpoint) {
        width: 95vw;
      }

      .login-alert{
        .login-alert-item{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;

          .login-alert-item-icon{
            width: 10px; 
          }
        }
      }

      .login-signup{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: #11273F;
        .login-signup-text{
          font-size: 15px;
          font-weight: 600;
          color: #11273F;
          margin-left: 5px;

          &:hover{
            cursor: pointer;
            text-decoration: underline;
          }
        }
        
      }
    
      .login-image-wrapper{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        align-items: center;
        border: 1px solid #11273F;
        border-radius: 50%;
        background-color: #11273F;
        top: 0;
        transform: translateY(-50%);
      }
    
      .login-name {
        display: flex;
        justify-content: center;
        align-items: center;
        .login-name-title {
          font-size: 20px;
          font-weight: 600;
          color: #11273F;
        }
    
      }
    
      .login-email,
      .login-password{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .login-email-label,
        .login-password-label {
          padding-left: 10px;
          font-size: 15px;
          font-weight: 500;
          color: #11273F;
        }
        .login-email-input-wrapper,
        .login-password-input-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          border: 1px solid #11273F;
          border-radius: 5px;
          .login-email-input,
          .login-password-input {
            width: 300px;
            height: 40px;
            
            padding: 0 10px;
            font-size: 16px;
            font-weight: 600;
            color: #11273F;
            &::placeholder {
              color: #11273f68;
              font-weight: 500;
            }
          }
        }
      }
    
    
    
    
      .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #11273F;
        border-radius: 5px;
        background-color: #11273F;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        width: 322px;
        height: 40px;

        &.disabled{
          border: none;
          background-color: rgba($pubWeaveBlue, 0.5);
          cursor: not-allowed;
        }
      }

      .orcid-login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #11273F;
        border-radius: 5px;
        background-color: #fff;
        color: $pubWeaveBlue;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        width: 322px;
        height: 40px;

        img{
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        &.disabled{
          color: rgba($pubWeaveBlue, 0.5);
          background-color: #fff;
          cursor: not-allowed;
        }
      }
    
    
      
    }

  }
 
}
