@import 'variables';
@import 'colors';



.user-page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: $pubWeaveBlue;
  gap: 20px;

  @media screen and (max-width: $mobile_breakpoint) {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  .user-page-wrapper-right,
  .user-page-wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    gap: 20px;

    @media screen and (max-width: $mobile_breakpoint) {
      width: 100%;
    }

    .user-page-hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: 10px;
      gap: 20px;


      .user-page-hidden-content{
        margin-top: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;


        
      }

      .user-section-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 10px 30px;

        .user-section-wrapper-icons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          background: rgba($pubWeaveBlue, 0.05);
          border-radius: 5px;

          .user-section-wrapper-icons-ok,
          .user-section-wrapper-icons-x{
            padding: 10px 30px;
            width: 100%;

            &.user-section-wrapper-icons-disabled{
              background: rgba($pubWeaveBlue, 0.05);
              color: rgba($pubWeaveBlue, 0.5);
              cursor: default;
              &:hover{
                background: rgba($pubWeaveBlue, 0.05);
                color: rgba($pubWeaveBlue, 0.5);
              }
            }
            
            &:hover{
              background: $pubWeaveBlue;
              color: #fff;
            }
          }

          .user-section-wrapper-icons-ok{
            border-radius: 5px 0 0 5px;
          }

          .user-section-wrapper-icons-x{
            border-radius: 0 5px 5px 0;
          }
        }
      }
    

      @media screen and (max-width: $mobile_breakpoint) {
        width: calc(100% - 20px);
      }
  
      hr{
        width: 50%;
        border-top: 1px solid rgba($color: $pubWeaveBlue, $alpha: 0.5);
        margin: 0;
  
      }
      
      .user-page-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: $white;
        width: 100%;
        height: fit-content;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        border-bottom: 3px solid rgba($color: $pubWeaveBlue, $alpha: 0.5);
        transition: 0.5s ease-in-out;

        &:hover{
          cursor: pointer;
          border-bottom: 3px solid $pubWeaveBlue;

        }
  
        .user-page-header-title{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          font-weight: 600;
          color: #11273F;

          img {
            width: 30px;
            height: 30px;

          }
        }
      }
  
      .user-page-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 50px;
        gap: 10px;

        .user-page-info-edit-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          color: rgba($pubWeaveBlue, 0.5);
          cursor: pointer;

          &:hover{
            color: $pubWeaveBlue;

          }
        }
  
        .user-page-info-avatar {
          width: 90px;
          height: 90px;
          border-radius: 10px;
          background: rgba($pubWeaveBlue, 0.5);
          color: $white;
          // margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;


          &:hover{
            .icon{
              visibility: visible;
            }
          }

            .icon{
              visibility: hidden;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 30px;
              color: rgba($white, 0.5);
              z-index: 4;

              
            }

            img{
              width: 100%;
              height: 100%;
              border-radius: 10px;
              border: 3px solid rgba($color: $pubWeaveBlue, $alpha: 0.5);
            }
        }
  
        .user-page-info-text{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: fit-content;
          gap: 8px;
  
          .user-page-header-info-name{
            font-size: 20px;
            font-weight: 600;
            width: 200px;
            color: $pubWeaveBlue;
           

            &.user-page-header-info-name-edit{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 100%;
              margin-bottom: 0 !important;
              &::placeholder{
                color: rgba($pubWeaveBlue, 0.5);
              }
              

              
              width: 100%;
              height: 40px;
              border-radius: 5px;
              border: none;
              padding: 10px;
              margin-bottom: 10px;
              font-size: 14px;
              font-weight: 400;
              color: #000;
              background: #fff;
              border:rgba($color: $pubWeaveBlue, $alpha: 0.5) 1px solid;
              
            }
          }
  
          .user-page-header-info-email{
            font-size: 14px;
            font-weight: 400;
            width: 200px;
            color: $pubWeaveBlue;
          }

          .user-page-header-info-username{
            font-size: 14px;
            font-weight: 400;
            width: 200px;
            color: $pubWeaveBlue;
          }
        }
      }
    }
  }

}

.user-info-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(#11273F, 0.05);
  gap: 10px;
  padding: 10px;
  color: #11273F;
  border-radius: 5px;
  border: 1px transparent solid;
  width: 100%;

  &.user-info-item-clickable{
    // transition: 0.1s ease-in-out;
    cursor: pointer;

    &:hover{
      background: $pubWeaveBlue;
      color: #fff;
      border: 1px solid #fff;
    }

  }

  &.user-info-item-array{
    cursor: default;
    &.user-info-item-clickable{
      &:hover{
        background: rgba(#11273F, 0.05);
        color: #11273F;
        border: 1px transparent solid;
      }
    }
  }

  &.user-info-item-button{
    cursor: pointer;
    // transition: 0.3s ease-in-out;

    &:hover{
      background: $pubWeaveBlue;
      color: #fff;
      border: 1px solid #fff;
    }

    .user-info-item-title{
      width: 100%;
    }
  }

  .user-info-item-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
    width: 50%;
    font-weight: 400;  

  }

  .user-info-item-value{
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;

    &.user-info-item-value-input{
      width: 100%;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      // background: #fff;

      &::placeholder{
        color: rgba($color: $pubWeaveBlue, $alpha: 0.5);
      }
    }
  }

  .user-info-item-values{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;

    .user-info-item-values-value{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;

      &:hover{
        background: $pubWeaveBlue;
        color: #fff;
      }


    }
  }

}