@import 'variables';
@import 'colors';


.dashboard-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background-color: $white;

  .dashboard-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: $mobile_breakpoint) {

    }
  }

}