@import 'variables';
@import 'colors';


.dashboard-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 370px);
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  gap: 20px;
  margin-bottom: 20px;

  .dashboard-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: $mobile_breakpoint) {

    }
  }

}