.editor-wrapper {
  position: relative;
  padding-bottom: 50px;

  .autosave-wrapper {
    position: absolute;
    bottom: 80px;
    right: 100px;
    z-index: 100;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      background-color: #11273f;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #debc00;
      }
    }
  }

  .alert-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transform: translateY(-10px);
  }

  @keyframes editor-title-focus {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes editor-title-focus-reverse {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }

  &.editor-wrapper-snap {
    #editorjs {
      margin-left: 240px;
    }

    .editors-sidebar {
      box-shadow: none;
      border-right: 1px solid rgb(210, 210, 210);
    }
  }

  .editors-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    position: absolute;
    padding: 20px 0 20px 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 268px;
    z-index: 100;

    @keyframes editors-sidebar-open {
      0% {
        transform: translateX(-268px);
      }

      100% {
        transform: translateX(0);
      }
    }

    animation: editors-sidebar-open 0.3s ease;

    background: rgba(255, 255, 255, 0.31);
    // border-radius: 16px;
    box-shadow: 10px 13px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);

    .editors-sidebar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      padding: 0 20px;

      .editors-sidebar-top-x,
      .editors-sidebar-top-snap {
        width: 20px;
        height: 20px;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .editors-sidebar-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: calc(100% - 20px);
      border-bottom: 1px solid rgb(210, 210, 210);
      padding: 10px;

      &:hover {
        background: rgba(213, 213, 213, 0.31);
      }

      .editors-sidebar-item-last-edit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;

        // .editors-sidebar-item-last-edit-title {}
      }

      .editors-sidebar-item-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .editors-sidebar-item-name-title {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;

          color: #000000;
        }

        .editors-sidebar-item-name-action {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;

          color: #000000;
        }
      }
    }
  }

  .editor-title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);

    @media screen and (max-width: 820px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: auto;
      gap: 10px;
      padding: 10px;

      .editor-publish-button-back {
        display: none;
      }

      .editor-title-input-wrapper {
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: #11273f;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease;
          padding: 10px;
        }
      }
    }

    .editor-title-input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 10px;

      @media screen and (max-width: 1200px) {
        position: relative !important;
        left: 0;
        transform: translateX(0);
      }
    }

    .editor-publish-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 5px;
      background-color: #11273f;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 0 40px;
      // margin: 0 20px 0 0;

      @media screen and (max-width: $mobile_breakpoint) {
        margin: 0;
        padding: 0 10px;
      }

      &:hover {
        background-color: #debc00;
      }

      &.editor-publish-button-back {
        background-color: #fff;
        border: 1px solid #11273f;
        color: #11273f;

        @media screen and (max-width: $mobile_breakpoint) {
          margin: 0;
        }

        &:hover {
          background-color: #11273f;
          color: white;
        }
      }
    }

    .editor-title-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 5px;

      .editor-history-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 5px;
        background-color: #11273f;
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0 10px;

        @media screen and (max-width: $mobile_breakpoint) {
          margin: 0;
        }

        &:hover {
          background-color: #debc00;
        }

        &.disabled {
          background-color: #ccc;
        }
      }

      .modal-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        border-radius: 5px;
        background-color: #11273f;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 10px;
        @media screen and (max-width: $mobile_breakpoint) {
          margin: 0;
        }

        &:hover {
          background-color: #debc00;
        }

        &.disabled {
          background-color: #ccc;
          cursor: default;
        }
      }

      .modal-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 10px;
        border-radius: 5px;
        background-color: #11273f;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 10px;
        @media screen and (max-width: $mobile_breakpoint) {
          margin: 0;
        }

        &:hover {
          background-color: #debc00;
        }

        &.disabled {
          background-color: #ccc;
          cursor: default;
        }
      }
    }

    .editor-title-input {
      height: 40px;
      font-size: 25px;
      max-width: 80vw;

      &.focus {
        transform: translateX(8px);
      }

      &.empty {
        @keyframes pulse-color {
          0% {
            color: #11273f4d;
          }

          50% {
            color: #11273f;
          }

          100% {
            color: #11273f4d;
          }
        }

        animation: pulse-color 2s ease infinite;
      }
    }
  }

  .editor-title-hr {
    width: 0%;
    height: 3px;
    background-color: #11273f;
    margin: 0 0 20px 0;

    &.focus {
      animation: editor-title-input-focus 0.3s ease forwards;
    }

    &.empty {
      width: 100% !important;
      background-color: #debc00;
    }

    &:not(.focus) {
      animation: editor-title-input-focus-reverse 0.3s ease forwards;
    }

    @keyframes editor-title-input-focus {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }

    @keyframes editor-title-input-focus-reverse {
      0% {
        width: 100%;
      }

      100% {
        width: 0%;
      }
    }
  }

  .editor-buttons-wrapper {
    display: flex;
    position: fixed;
    bottom: 100px;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
    z-index: 100;

    .editor-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: rgb(200, 200, 200);
      border-radius: 15px;
      box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);

      .editor-buttons-back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 15px;
        color: #11273f;
        font-size: 1.2em;
        cursor: pointer;
        padding-left: 20px;

        &:hover {
          color: #315378;
        }
      }

      .editor-wrapper-publish-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 360px;
        height: 60px;
        // background-color: #11273F;
        background: linear-gradient(
          50deg,
          rgba(17, 39, 63, 1) 33%,
          rgba(200, 200, 200, 1) 56%
        );
        background-size: 300% 100%;
        background-position: right;
        color: rgba(17, 39, 63, 1);
        font-size: 1.5em;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.6s ease;
        place-content: center;

        &:hover,
        &:focus {
          background-color: #e91e63;
          color: #fff;
        }

        &:hover {
          background-color: #315378;
          animation: editor-title-focus 0.6s ease forwards;
        }

        &:not(:hover) {
          animation: editor-title-focus-reverse 0.6s ease forwards;
        }

        @keyframes editor-title-focus {
          0% {
            background-position: right;
            box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
          }

          100% {
            background-position: left;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          }
        }

        @keyframes editor-title-focus-reverse {
          0% {
            background-position: left;
          }

          100% {
            background-position: right;
          }
        }
      }
    }
  }
}
