.work-types-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 370px);
    align-items: center;
    justify-content: center;

    .work-types-items-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 1200px;

        .work-types-item-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            // height: 340px;
            margin-bottom: 20px;

            .work-types-item-content{
                max-width: 272px;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                text-align: left;
                background: rgba($pubWeaveBlue,0.5);
                height: 120px;
                color: rgba($white, 1);
                border-radius: 10px;
                padding: 20px;
                display: flex;
            }

            .work-types-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 272px;
                height: 272px;
                border-radius: 10px;
                cursor: pointer;

                .work-types-item-title{
                    font-style: bold;
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 36px;
                    color: #677d96;
                    margin-bottom: 20px;
                }
                

                
            }
            
        }
    }
}