.single-blog-content {
    display: flex;
    // align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: -50px;
    margin-bottom: 20px;
    color: rgba(17, 39, 63, 0.8);
    gap: 10px;


    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #11273F;
    }

    .reaction-icons {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

.single-blog-img {
    position: relative;
    top: -110px;
    width: 80%;
    height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.headline-category-chips-author {
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 200px;

    .category-headline-chips {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social-author-info-box {
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .author-info-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;   
    }

    .social {
        color: white;
        display: flex;
        gap: 8px;
    }

    .published-date {
        font-family: 'Inter' !important;
        font-style: normal !important;;
        font-weight: 500 !important;;
        font-size: 10px !important;;
        line-height: 12px !important;;
        color: rgba(255, 255, 255, 0.4) !important;;
    }
}